/* arquivo de estilos */

/* ------------------------------- */
* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(290deg, #A533FF 35%, #33FDFF);
    font-family: 'Roboto', sans-serif;
}

/* ------------------------------- */
/* form */

form {
    display: flex;
    flex-flow: column nowrap;
    background-color: white;
    width: 18%;
    padding: 20px 30px;
    border-radius: 5px;
    height: 45%;
    padding: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .5);
}

.login-close {
    font-size: 22px;
    text-align: right;
    padding-bottom: 5px;
    text-decoration: none;
}

.login-title{
    text-align: center;
    font-size: 32px;
    padding-bottom: 20px;
    color: rgb(90, 89, 89);
}

form>div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
}

form>div>label {
    font-size: 18px;
    font-weight: bold;
    color: gray;
}

form>div>input {
    padding: 10px;
    border: 1px solid lightgray;
    margin: 5px 0px 15px 0px;
}

.login-links{
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 30px;
    color: #047988;
    font: bold;
}

.login-button {
    background: linear-gradient(290deg, #A533FF 35%, #33FDFF);
    border: none;
    color: white;
    border-radius: 2px; 
    text-align: center;
    padding: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}

.login-button:hover {
    box-shadow: 0 0 4px 0px black;
    cursor: pointer;
}
